@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
  color:black !important;
}
.brand-logo{
  font-family: 'Grand Hotel', cursive;
}
.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}
.mycard{
  margin-top: 30px;
}
.input-field input[type=text]:focus {
     border-bottom: 1px solid rgb(147, 16, 208) !important; 
     box-shadow: 0 1px 0 0 rgb(147, 16, 208) !important;
   }

.gallery{
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item{
  width:30%;
  margin: 2px 2px;
}

.home-card
{
  max-width: 500px;
  height: auto;
  margin: 20px auto;
  padding: 3%;
}
#toast-container{
  top: 30px !important;
  right: 20px !important;
  left: auto !important;
}
